<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productOption">
	<resultMap type="productOptionVo" id="pResultMap">
		<result column="productOptionNo" property="productOptionNo" />
		<result column="productNo" property="productNo" />
		<result column="optionProcedure" property="optionProcedure" />
		<result column="addPrice" property="addPrice" />
		<result column="productAmount" property="productAmount" />
		<result column="productOptionName" property="productOptionName" />
		<result column="optionStat" property="optionStat" />
		<result column="recentUpdateTime" property="recentUpdateTime" />
		<result column="recentUpdateUserNo" property="recentUpdateUserNo" />
		<result column="categoryNo" property="categoryNo" />
		<result column="name" property="name" />
		<result column="basicPrice" property="basicPrice" />
		<result column="eachPrice" property="eachPrice" />
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="map">
		<result column="productNoCount" property="productNoCount" />
	</resultMap>

	<!-- 상품번호로 활성화된 상품옵션의 정보 조회 -->
	<select id="selectProductOptionAll" resultMap="pResultMap">
		select * 
		from productOption 
		where productNo = #{productNo} and optionStat=1
		order by optionProcedure asc
	</select>
	
	<!-- 상품번호로 활성화/비활성화를 포함한  모든상품옵션의 정보 조회 -->
	<select id="selectPrdOpByPrdNo" resultMap="pResultMap">
		select * 
		from productOption 
		where productNo = #{productNo}
		order by optionProcedure asc
	</select>
	
	<!-- 상품옵션번호들로 해당 상품옵션들의 정보 조회 -->
	<select id="selectPOByPoNo" resultMap="pResultMap" parameterType="java.util.List">
		select po.productOptionNo, p.categoryNo, p.productNo, p.name, po.productOptionName,  po.productAmount, po.addPrice, p.basicPrice , po.addPrice+p.basicPrice as eachPrice 
		from productOption po, product p
		where po.productOptionNo in 
		<foreach item="productOptionNo"  collection="list"  open="(" separator="," close=")">
		#{productOptionNo} 
		</foreach>
		AND p.productNo = po.productNo
	</select>
	
	<!-- 해당 판매자가 등록한 상품 모두 조회(각 상품별 파티션의 랭크매기기  포함) -->
	<select id="selectRegisterPrdAll" parameterType="int" resultMap="pResultMap">
	select *
	from(
		select p.userNo, p.categoryNo, p.name, p.basicPrice, p.stat, p.details, p.opTotalNum, p.regisTime, po.productOptionNo, po.productNo, po.optionProcedure, po.addPrice, po.productAmount, po.productOptionName, po.optionStat, po.recentUpdateTime, po.recentUpdateUserNo,
			(CASE @vPrdNo WHEN po.productNo THEN @rownum:=@rownum+1 ELSE @rownum:=1 END) rnum,
	        (@vPrdNo:=po.productNo)vPrdNo
		from product p, productOption po, (select @vPrdNo:='',@rownum:=0 from dual)b
		where p.userNo = #{userNo} and p.productNo = po.productNo
	    order by p.productNo, optionProcedure asc
	)c;
	</select> 
	
	<!-- 해당 상품번호그룹에 해당하는 갯수 조회 -->
	<select id="selectPrdGroupCount" parameterType="int" resultMap="map">
		select p.productNo, count(p.productNo) as productNoCount
		from product p, productOption po
		where p.userNo = #{userNo} and p.productNo = po.productNo
		group by productNo
		order by p.productNo, optionProcedure asc 
	</select>
	
	<!-- 해당 옵션번호의 재고수량을 변경 -->
	<update id="udtPrdAmount" parameterType="productOptionVo">
		update productOption
		set productAmount = #{userNo}
		where productOptionNo = #{productOptionNo}
	</update>
	
	<!-- 해당 옵션번호의 정보를 변경 -->
	<update id="udtPrdOpAll" parameterType="productOptionVo">
		update productOption
		set productOptionName = #{productOptionName}, optionProcedure = #{optionProcedure}, addPrice = #{addPrice}, productAmount = #{productAmount}, optionStat = #{optionStat}
		where productOptionNo = #{productOptionNo}
	</update>
	
	<!-- 해당 상품옵션정보 추가 -->
	<insert id="insertPrdOption" parameterType="productOptionVo">
		insert into productOption
		values (null, #{productNo}, #{optionProcedure}, #{addPrice}, #{productAmount}, #{productOptionName}, #{optionStat},now(),#{userNo})
	</insert>
	
	<!-- 해당 상품옵션번호 삭제 -->
	<delete id="delPrdOption" parameterType="int">
		delete from productOption
		where productOptionNo = #{productOptionNo}
	</delete>
	
</mapper>